*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px  10px/16px = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px 9/16 = .5625
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px  8/16 = 50%;
    }


    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px  12 / 16 = 
    }
}

body {
    box-sizing: border-box;
    background-color: $color-primary;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%236200ff' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

::selection {
    background-color: $color-text_selection;
    color: white;
}