// MEDIA QUERY MANAGER
/*
    0 - 600px:       Phone
    600px - 900px:   Tablet Portrait
    600px - 900px:   Tablet Portrait
    900px - 1200px:  Tablet Landscape
    1200px - 1800px: Desktop (Default styles)
    1800px+:         Big Desktop

*/


// $breakpoint choices
// - phone               600px
// - tab-port            900px
// - tab-land            1200px
// - big-desktop         1800px

// em's and rem's are not affected by the root font-size setting
// use em's instead of rems's since rems fail in some older browsers
// 1em ~ 16px

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }  // 600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }  // 900px 
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content } // 1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5) { @content } // 1800px
    }
}