$color-white: #fff;
$color-black: #111;
$color-gray: #aaa;

$color-primary: #8A4FFF;
$color-secondary: #FF498D;

$color-text_selection: #FDB5FF;

$color-link_hover: #F9F871;
$color-link_hover-text: #FF498D;
$color-box_shadow: #372B47;