.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $color-black;
    border-radius: 1rem;
    min-width: 50%;
    max-width: 65%;
    padding: 1rem 0;

    &__image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        &-container {
            display: flex;
            align-items: center;
            width: 50rem;
            height: 50rem;
        }
    }

    &__button {
        font-size: 5rem;
        color: $color-black;
        user-select: none;
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
}