.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-secondary;

    &-links {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2rem;
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        
        color: $color-white;
        font-size: 2.4rem;
        font-family: sans-serif;
        text-decoration: none;
        
        height: 100%;
        padding: 1rem 2rem;
        user-select: none;

        transition: all .2s ease-out;

        &:hover {
            background-color: $color-link_hover;
            box-shadow: .5rem .5rem 1rem rgba($color-box_shadow, .5);
            color: $color-link_hover-text;
            transform: rotate(-25deg);
        }

        &:active {
            box-shadow: .2rem .2rem 1rem rgba($color-box_shadow, .9);
            transform: rotate(-25deg) translateY(.2rem);
        }

        &:not(:last-child) {
            margin-right: 10rem;
        }

    }
}